<div class="form-group">
  <%= f.label name %>
  <div class='input-group date datetimepicker'>
    <%= text_field_tag name, "", class: "form-control" %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>
