<h1><%= @first_name %>'s Shifts</h1>
<ul>
  <% @employee.shifts.each do |shift| %>
  <li>
    <p> Start: <%= shift.start %> </p>
    <p> Stop: <%= shift.stop %> </p>
  </li>
  <% end %>
</ul>
<%= link_to "Create new shift", new_shift_path, class: "new_shift" %>
<!--<% if @employee.is_manager %>
  Above line to be placed here later
<% end %> -->
